body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

div.App {
  margin: 0 10%;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dodger-blue);
  text-shadow: 1px 1px var(--ultramarine-blue);
}




